#title {
    text-align: center;
    margin: 0 auto;
}

#title h1 {
    font-family: 'europa', sans-serif;
    font-size: 80px;
    color: #a3add4;
    text-transform: uppercase;
    margin-top: 10px;
}

#title p {
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    margin-top: -75px;
}

.banner {
    width: 110%;
    margin-left: -2%;
    margin-top: -2%;
    height: 16vmax;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.banner img {
    width: 110%;
    margin-left: -2%;
    filter: blur(5px);
    bottom: 10%;
    margin-top: -33%;
}

.topics {
    font-family: 'europa', sans-serif;
    font-size: 60px;
    color: #a3add4;
    width: 50%;
    margin: 0px auto;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
}

.blocks {
    font-family: 'Slabo 27px', serif;
    font-size: 22px;
    color: #808080;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    line-height: 150%;
}

#back {
    position: fixed;
    top: 30px;
    height: 40px;
}

#website {
    margin-top: 60px;
    max-width: 100%;
    width: 80%;
}

.old-site {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.bottom-nav {
    margin-top: 100px;
    background: #ccc;
    height: 80px;
}

.links {
    text-align: center;
    padding-top: 25px
}

#item {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: 'europa', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin: auto 20px;
    position: relative;
    bottom: 0;
}

#item:hover {
    display: inline-block;
    bottom: 3px;
    right: 0;
    position: relative;
}   

#active {
 
    font-family: 'europa', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin: auto 20px;
    text-decoration: underline;
    display: inline;

}

#art-page {
    color: #a3add4;
}

/*
#item:hover {
    bottom: 20px;
}*/